
@{
    ViewBag.Title = "单点系统主页面";
}

<h2>单点系统主页面</h2>

<p> 当前登录用户名为:@ViewBag.User</p>
<p> 当前登录权限为:@ViewBag.Roles</p>

<a href="http://localhost:24728/" target="_blank">平度微信后台</a>
<a href="http://localhost:24676/" target="_blank">蓬莱水务缴费系统</a>
<a href="http://localhost:24409/" target="_blank">蓬莱水务微信后台</a>

